# Xcode / Swift
.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcodeproj/
*.xcworkspace/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Generated debug and archive files
*.dSYM
*.dSYM.zip
*.ipa
*.xcarchive
